.App {
  text-align: center;
}

.menu-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.menu-item {
  margin: 0 20px;
}

input[type="color"],
input[type="range"] {
  margin-top: 5px;
  width: 100px;
}

button.clear-btn {
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.clear-btn:hover {
  background-color: #d32f2f;
}

.draw-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin-bottom: 30px; 
}

canvas {
  border: 1px solid #ccc;
  background-color: #fff;
}
